@import url('https://fonts.googleapis.com/css?family=Arimo|Bebas+Neue|Noto+Sans+JP|Noto+Sans+KR|Nunito|Public+Sans|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Solway|Sulphur+Point|Tomorrow|Ubuntu|Work+Sans&display=swap');

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

/* Variables */

:root {

 /* Fonts */

 --roboto: 'Roboto', sans-serif;
 --solway: 'Solway', serif;
 --bebas-neue: 'Bebas Neue', cursive;
 --sulphur-point: 'Sulphur Point', sans-serif;
 --roboto-cond: 'Roboto Condensed', sans-serif;
 --raleway: 'Raleway', sans-serif;
 --roboto-mono: 'Roboto Mono', monospace;
 --public-sans: 'Public Sans', sans-serif;
 --nunito: 'Nunito', sans-serif;
 --noto-sans-jp: 'Noto Sans JP', sans-serif;
 --work-sans: 'Work Sans', sans-serif;
 --tomorrow: 'Tomorrow', sans-serif;
 --arimo: 'Arimo', sans-serif;
 --noto-sans-kr: 'Noto Sans KR', sans-serif;

 /* Coolors */

 --reg-green: #002400;
 --leather-green: #273B09;
 --antique-bronze: #58641D;
 --palm-leaf: #7B904B;
 --gainsboro: #DBD2E0;
 --white: #FFFFFF;
 --cambridge-blue: #9DB5B2;
 --azurish-white: #DAF0EE;
 --pearl-aqua: #94D1BE;
 --ras-pink: #E36397;
 --opera-mauve: #BC8DA7;
 --gray-x11: #BDB4BF;
 --gainsboro-2: #D9D9D9;
 --flash-white: #EFF2EF;
 --desert-sand: #DBD8AE;
 --antique-brass: #CA907E;
 --chestnut: #994636;
 --grizzly: #895B1E;
 --sky-blue: #88D9E6;
 --gray-blue: #8B8BAE;
 --stormcloud: #526760;
 --charcoal: #374B4A;
 --gunmetal: #2D3142;
 --silver: #BFC0C0;
 --red-ochre: #EF8354;
 --black-coral: #4F5D75;
 --cerulean: #2B59C3;
 --st-patrick: #253C78;
 --champion: #D36582;
 --khaki-css: #C9A690;
 --spanish-gray: #A2999E;
 --pastel-brown: #846A6A;
 --onyx: #353B3C;
 --cornflower: #AFCBFF;
 --maastricht: #0E1C36;
 --peach-puff: #F7D4BC;
 --siver-pink: #CFA5B4;
 --purple: #C98BB9;
 --chinese-violet: #846B8A;
 --black: #000;
 --white: #fff;
 --orange: #DE7C01;
 --blue: #0090D9;
 --green: #00B298;
}

html {
 font-size: 10px;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}

img {
 width: 100%;
 max-width: 100%;
 height: auto;
}

p {
 font-size: 1.6rem;
}

h1,
h2,
h3,
p {
 font-weight: 200;
}

.btn {
 border-radius: .2rem;
 padding: 1rem 2rem;
 background-color: var(--palm-leaf);
 color: var(--white);
 font-size: 1rem;
 text-transform: uppercase;
 letter-spacing: .2rem;
 display: inline-block;
 margin-top: 2rem;
 text-align: center;
 transition: 420ms ease;
}

.btn:hover {
 background-color: var(--chestnut);
 border: 1px solid var(--white);
}

section {
 padding: 5rem 0;
}

body {
 font-family: var(--solway);
}

/* Header */

header {
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}

.container {
 width: 100%;
 max-width: 98rem;
 padding: 0 1rem;
 margin: 0 auto;
}

/* nav */

nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
}

.nav__brand {
 width: 15rem;
}

.menu__icons {
 font-size: 3.5rem;
 color: var(--palm-leaf);
 cursor: pointer;
 transition: 420ms ease;
}

.menu__icons:hover {
 color: var(--chestnut);
}

.nav__list {
 width: 25rem;
 height: 100vh;
 background: var(--st-patrick);
 position: fixed;
 top: 0;
 right: -26rem;
 opacity: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 transition: all 630ms ease-in-out, opacity 810ms ease;
 z-index: 1300;
}

.nav__list.active {
 opacity: 1;
 top: 0;
 right: 0;
}

.close {
 position: absolute;
 top: 2rem;
 left: 2rem;
}

.nav__item {
 margin: 1.5rem;
}

.nav__link {
 font-size: 1.6rem;
 color: var(--white);
 text-transform: uppercase;
 transition: 420ms ease;
}

.nav__link:hover {
 color: var(--palm-leaf);
}

@media screen and (min-width: 600px) {

 .nav__list {
  width: initial;
  height: initial;
  background: transparent;
  position: initial;
  top: initial;
  right: initial;
  opacity: initial;
  flex-direction: row;
  transition: initial;
 }

 .menu__icons {
  display: none;
 }

 .nav__link {
  margin: 0 3rem;
  color: var(--chestnut);
 }

}

/* Hero */

#hero {
 width: 100%;
 height: 80vh;
 background: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 7) 100%), url('../img/boardwalk.jpeg') center no-repeat;
 background-size: cover;
 position: relative;
}

.main__message {
 width: 100%;
 max-width: 50rem;
 text-transform: uppercase;
 color: var(--white);
 transform: translateY(20%);
}

.main__message h3 {
 font-size: 2rem;
}

.main__message h1 {
 font-size: 3.5rem;
 margin: 1rem 0;
}

.main__message p {
 font-size: 1.6rem;
 text-transform: lowercase;
}

/* Activities Grid */

#activities {
 padding: 0;
}

.activities__heading {
 padding: 5rem 2rem 5rem;
 text-align: center;
}

.activities__heading h3 {
 font-size: 1.4rem;
}

.activities__heading h1 {
 font-size: 2rem;
 margin: .8rem 0;
}

.activities__heading p {
 font-size: 1.6rem;
}

/* Activities Grid */

.activities__grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
 grid-gap: 2.5rem
}

.activities__grid__item {
 height: 40rem;
 padding: 5rem;
 border-radius: 2rem;
 color: var(--gainsboro);
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 cursor: pointer;
 z-index: 1;
}

.activities__grid__item::before {
 content: "";
 border-radius: 2rem;
 background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
}

.activities__grid__item i {
 font-size: 4rem;
 color: var(--maastricht);
}

.activities__grid__item h1 {
 font-size: 2rem;
 margin: 1rem 0;
}

.activities__grid__item p {
 font-size: 1.4rem;
}

.hiking {
 background: url('../img/heart-green.jpg') center no-repeat;
}

.camping {
 background: url('../img/heart-green.jpg') center no-repeat;
}

.star__gazing {
 background: url('../img/heart-green.jpg') center no-repeat;
}

.btn__read {
 border-radius: .2rem;
 padding: .8rem 1.6rem;
 background: var(--chestnut);
 color: var(--gainsboro);
 display: inline-block;
 margin-top: 1rem;
 text-transform: uppercase;
 text-align: center;
 letter-spacing: .1rem;
 font-size: .9rem;
 max-width: 11rem;
 transition: 420ms ease;
}

.btn__read:hover {
 background: var(--maastricht);
}

/* Cards Section */

#cards {}

.cards__heading {
 width: 100%;
 text-align: center;
 padding: 2rem 0 4rem;
}

.cards__heading h1 {
 font-size: 3rem;
}

.cards__heading p {
 font-size: 1.6rem;
 margin: 3rem 0 1rem;
}

.italic {
 font-style: italic;
}

.cards__list {
 margin: -1rem;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
}

.cards__item {
 flex-basis: 50%;
 padding: 1.5rem;
}

.cards__item img {
 background: var(--white);
 box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 600px) {
 .cards__item {
  flex-basis: 20%;
 }

 .cards__img {
  width: 100%;
  display: block;
 }
}

/* Courses Section */

#courses {
 padding: 0;
}

.courses__heading {
 display: block;
 margin: 0 2rem 10rem;
 line-height: 2.5rem;
 text-align: center;
}

.courses__heading h1 {
 font-size: 2.5rem;
 font-weight: 200;
 line-height: 3.75rem;
 margin: 1rem 0;
}

.courses__heading p {
 font-size: 1.6rem;
 font-weight: 200;
}

.courses__item {
 height: 24rem;
 padding: 2rem;
 color: var(--white);
 text-align: center;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.courses__item h1 {
 font-size: 2.4rem;
}

.courses__item h3 {
 font-size: 1.6rem;
 padding: .7rem;
}

.courses__item p {
 font-size: 1.6rem;
}

.btn__courses {
 border-radius: .1rem;
 padding: .9rem 1.8rem;
 max-width: 14rem;
 text-align: center;
 background: transparent;
 color: var(--white);
 border: 1px solid var(--white);
 display: inline-block;
 margin-top: 2rem;
 font-size: 1.2rem;
 letter-spacing: .1rem;
 transition: 420ms ease;
}

.btn__courses:hover {
 background-color: var(--white);
 color: var(--black);
}

.onsite {
 background: var(--orange);
}

.remote {
 background: var(--blue);
}

.remote__pt {
 background: var(--green);
}

@media screen and (min-width: 900px) {

 .courses__grid {
  display: flex;
 }

 .remote {
  max-width: 40rem;
 }
}

/* Syllabus */

#syllabus {}

.syllabus__heading {
 padding: 2rem;
 border: 1px solid var(--orange);
 position: relative;
 text-align: center;
 min-height: 20rem;
}

.syllabus__heading h2 {
 font-size: 2.6rem;
 color: var(--orange);
}

.syllabus__heading h2 {
 text-align: left;
}

.btn__syllabus {
 border-radius: .2rem;
 padding: 1rem 1.8rem;
 background-color: var(--orange);
 color: var(--white);
 display: inline-block;
 font-size: 1.6rem;
 font-weight: 500;
 letter-spacing: .1rem;
 text-align: center;
 margin-top: 3rem;
 transition: 420ms ease;
}

.btn__syllabus:hover {
 background-color: var(--white);
 color: var(--orange);
 border: 1px solid var(--orange);
}

@media screen and (min-width: 480px) {
 .btn__syllabus {
  margin-top: 5rem;
 }

}

@media screen and (min-width: 760px) {

 .syllabus__heading {
  width: 100%;
 }

 .syllabus__heading h2 {
  padding: 2rem 6rem 0;
  text-align: center;
 }

 .btn__syllabus {
  margin-top: 4rem;
 }
}

@media screen and (min-width: 890px) {

 .syllabus__heading h2 {
  padding: 2rem 10rem 0;
  text-align: center;
 }
}

/*  Reviews */

#reviews {
 background: var(--blue)
}

.reviews__grid {
 max-width: 32rem;
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {

 .reviews__
}

.reviews__grid__item {
 margin: 1.5rem auto 0;
 background: var(--palm-leaf);
}

.reviews__grid__item:nth-child(1) {
 margin-top: 0;
}

.reviews__img {
 display: block;
 width: 100%;
}

.reviews__quote {
 text-align: center;
 margin: 0;
 padding: 2rem 1rem 2.5rem;
 position: relative;
 min-height: 16.5rem;
 display: flex;
 flex-wrap: wrap;
 align-content: center;
}

.reviews__quote::before {
 position: absolute;
 top: -1rem;
 left: 50%;
 margin-left: -1rem;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-bottom: 10px solid var(--chestnut);
 content: "";
 display: block;
 width: 0;
 height: 0;
}

.reviews__author {
 font-style: normal;
 padding: 2rem 0 0;
 display: block;
 width: 100%;
 text-align: center;
 color: var(--chestnut);
}