@import url("https://fonts.googleapis.com/css?family=Coda|Comfortaa|Poiret+One|Prosto+One|Righteous|Sniglet|Unica+One&display=swap");

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

/* Variables */

:root {
 /* Fonts */

 --comfortaa: "Comfortaa", cursive;
 --righteous: "Righteous", cursive;
 --sniglet: "Sniglet", cursive;
 --poiret-one: "Poiret One", cursive;
 --unica-one: "Unica One", cursive;
 --prosto-one: "Prosto One", cursive;
 --coda: "Coda", cursive;

 /* Coolors */

 --mid-blue: #75dddd;
 --dark-sky: #84c7d0;
 --ceil: #9297c4;
 --majesty: #9368b7;
 --fandango: #aa3e98;
 --azureish: #d9f0ff;
 --winter-wizard: #a3d5ff;
 --bone: #e1dabd;
 --laurel-green: #abc798;
 --classic-rose: #ffc4eb;
 --desert: #e6beae;
 --pale-taupe: #b2967d;
 --wenge: #6b6054;
 --artichoke: #929487;
 --silver-chalice: #a1b0ab;
 --waterspout: #a8f9ff;
 --photo-blue: #9ae5e6;
 --white: #fff;
 --black: #000;
}

html {
 font-size: 10px;
 box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

/* Header */

header {
 position: relative;
 width: 100%;
 overflow: hidden;
 height: 105vh;
 padding-top: 2rem;
}

/* Navigation */

#nav {
 display: flex;
 justify-content: center;
 padding: 2rem 3rem;
 position: absolute;
 transform: all 300ms;
 background: var(--white);
 z-index: 9;
 top: 0;
 width: 100%;
 font-size: 1.8rem;
}

#nav ul {
 display: flex;
 align-items: center;
 flex-wrap: wrap;
}

#nav ul li {
 display: flex;
}

#nav ul li a {
 font-family: var(--sniglet), sans-serif;
 color: var(--black);
 padding: 0.3rem 0;
 margin: 0 3.5rem;
 transition: 420ms ease;
}

#nav ul li a:hover {
    color: var(--majesty);
}

#nav ul li.logo .black {
 display: none;
}

#nav ul li.logo a {
 margin: 0 4rem;
}

/* Nav Icon Hamburger */

.nav__icon {
 position: absolute;
 top: 1.8rem;
 right: 2rem;
 padding: 0.5rem;
 width: 4rem;
 z-index: 1;
 cursor: pointer;
}

.nav__icon span {
 background-color: var(--black);
 width: 3rem;
 height: 0.2rem;
 display: block;
 transition: all 420ms linear;
}

.nav__icon span:nth-child(1),
.nav__icon span:nth-child(3) {
 width: 2rem;
 margin: 0.5rem auto;
}

.nav__icon:nth-child(2) {
 margin: 0.5rem 0;
 width: 3.2rem;
}

.nav__icon:hover span:nth-child(1),
.nav__icon:hover span:nth-child(3) {
 width: 3rem;
}

/* Res Nav Menu */

.nav__list__res {
 height: 50rem;
}

/* Full Navigation */

.full__nav {
 background: var(--mid-blue);
 color: var(--classic-rose);
 position: fixed;
 left: 0;
 top: 9.6rem;
 height: 100%;
 width: 100%;
 padding: 3.75rem;
 z-index: 99;
 overflow-y: hidden;
 opacity: 1;
 transform: translateY(-100px);
 transition: all 630ms ease-in-out;
}

.full__nav.open {
 opacity: 1;
 visibility: visible;
 transform: translateY(0);
 transition: all 420ms ease-in-out;
 z-index: 99;
}

.full__nav .logo {
 display: flex;
 justify-content: center;
 padding: 6rem;
}

/* Navigation 2 */
#nav2 {
 display: flex;
 justify-content: center;
}

#nav2 ul {
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 max-width: 70rem;
}

#nav2 ul li {
 display: flex;
 flex: 50%;
 background-color: var(--classic-rose);
 color: var(--ceil);
 padding: 1rem;
 border-bottom: 1rem solid var(--mid-blue);
 border-right: 1rem solid var(--mid-blue);
 transition: all 630ms;
}

#nav2 ul li a {
 font-family: var(--comfortaa);
 font-size: 1.4rem;
 color: var(--white);
}

#nav2 ul li a span {
 color: var(--majesty)
}

#nav2 ul li:hover {
 background-color: var(--artichoke);
}

#nav ul li:hover a,
#nav2 ul li:hover a span {
 color: var(--laurel-green);
}

/* Social Icons */

.social__icons a {
 color: var(--classic-rose);
 border: 4px solid var(--classic-rose);
 width: 5rem;
 height: 5rem;
 line-height: 4rem;
 font-size: 2rem;
 display: inherit;
 text-align: center;
 border-radius: 5rem;
 transition: all ease 420ms;
 margin-top: 4rem;
}

.social__icons a:hover {
 color: var(--artichoke);
 margin-top: -1rem;
 border-color: var(--classic-rose);
 border-color: var(--artichoke);
}


ul.social__icons.list__inline {
 text-align: center;
 margin-top: 2.2rem;
}

.list__inline > li {
 display: inline-block;
 padding-right: .5rem;
 padding-left: .5rem;
}

/* Corner Circle */

.corner__circle {
 position: absolute;
 top: 0;
 right: 0;
 width: 12rem;
 height: 12rem;
 background-color: var(--classic-rose);
 border-radius: 0 0 0 12rem;
 z-index: 2;
}

.nav__close {
 display: block;
 width: 3rem;
 height: 3rem;
 position: absolute;
 top: 3rem;
 right: 3rem;
 z-index: 3;
}

.nav__close span {
 background: var(--white);
 width: 3rem;
 height: .3rem;
 display: block;
 position: absolute;
 top: 1.4rem;
 transform: 420ms ease;
}

.nav__close:hover > * {
 background: var(--artichoke);
}

.nav__close span:nth-child(1) {
 transform: rotate(45deg);
}

.nav__close span:nth-child(2) {
 transform: rotate(-45deg);
}





